/*Created with Adobe RoboHelp Classic 2019.*/
body {
	background-color: #ffffff;
	counter-reset: lip-ublist_num-bullet1 0 publist_num-bullet1 0 lip-note_bullet1 0 pnote_bullet1 0 lip-table_bullet_list1 0 ptable_bullet_list1 0 lip-bullet_list1 0 pbullet_list1 0 lip-sublist-letter1 0 psublist-letter1 0 lip-sublist-bullet1 0 psublist-bullet1 0 lip-num_list1 0 pnum_list1 0 prl-p-num_list1 0 prl-p-bullet_list1 0 prl-p-sublist-letter1 0 pnumberbulletalphabullet1 0 particlesection1 0;
}
p {
	margin-top: 12pt;
	margin-bottom: 12pt;
	margin-right: 20pt;
	margin-left: 0px;
	font-family: "Segoe UI";
	font-size: 9pt;
	color: #666666;
}
li.p {
	font-family: "Segoe UI";
	font-size: 9pt;
	color: #666666;
}

h1 {
	letter-spacing: .5pt;
	margin-left: 0pt;
	font-size: 17pt;
	margin-bottom: 14pt;
	margin-top: 12pt;
	font-family: "Segoe UI Semibold";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}
li.h1 {
	letter-spacing: .5pt;
	font-size: 17pt;
	font-family: "Segoe UI Semibold";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}

h2 {
	margin-left: 0pt;
	margin-top: 12pt;
	font-size: 13pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}
li.h2 {
	font-size: 13pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}

h3 {
	font-size: 12.0pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}
li.h3 {
	font-size: 12.0pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}

h4 {
	font-size: 12.0pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}
li.h4 {
	font-size: 12.0pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}

h5 {
	font-size: 12.0pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}
li.h5 {
	font-size: 12.0pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}

h6 {
	font-size: 12.0pt;
	font-family: "Segoe UI";
	x-next-class: ;
	x-next-type: P;
	font-weight: normal;
	font-style: normal;
	color: #336666;
}
li.h6 {
	font-size: 12.0pt;
	font-family: "Segoe UI";
	font-weight: normal;
	font-style: normal;
	color: #336666;
}

a {
	font-family: "Segoe UI";
	display: inline;
	color: #336666;
	text-decoration: underline;
}
a.breadcrumbs {
	font-family: "Segoe UI";
	display: inline;
	color: #336666;
}
a:link {
	color: #3833aa;
	text-decoration: underline;
}
a:visited {
	color: #3833aa;
	text-decoration: underline;
}
a.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	font-family: "Segoe UI";
	display: inline;
	text-decoration: none;
}
span.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
	font-size: 8pt;
	font-family: "Segoe UI";
}
a.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	font-family: "Segoe UI";
	display: inline;
	text-decoration: none;
}
a.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	font-family: "Segoe UI";
	display: inline;
	text-decoration: none;
}
span.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
	font-family: "Segoe UI";
}
ol,ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
p.NormalIndent {
	margin-left: 16px;
	font-family: "Segoe UI";
	font-size: 9pt;
	color: #666666;
}
li.p-NormalIndent {
	font-family: "Segoe UI";
	font-size: 9pt;
	color: #666666;
}

p.NormalHang {
	text-indent: -16px;
	margin-left: 16px;
	font-family: "Segoe UI";
	font-size: 9pt;
	color: #666666;
}
li.p-NormalHang {
	text-indent: -16px;
	font-family: "Segoe UI";
	font-size: 9pt;
	color: #666666;
}

p.DHTMLtext {
	font-weight: bold;
	font-style: normal;
	color: #005400;
	font-family: "Segoe UI";
	font-size: 9pt;
}
li.p-DHTMLtext {
	font-weight: bold;
	font-style: normal;
	color: #005400;
	font-family: "Segoe UI";
	font-size: 9pt;
}

p.Note {
	margin-left: 40px;
	background-color: #ececdd;
	margin-right: 60pt;
}
li.p-Note {
}

table.PaddedCells {
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	x-row-pat-count: 2;
	x-border-spacing: 2px;
	font-family: "Segoe UI";
}
p.Picture {
	margin-bottom: 0pt;
	margin-top: 0pt;
	margin-right: 10pt;
}
li.p-Picture {
}

table.SimpleGridBlack {
	padding: 0px;
	border-top: Solid 1px #000000;
	border-left: Solid 1px #000000;
	x-border-spacing: 0px;
	x-row-pat-count: 2;
	font-family: "Segoe UI";
}
p.Table_header {
	font-weight: bold;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-size: 9pt;
	margin-left: 0px;
	margin-right: 0pt;
}
li.p-Table_header {
	font-weight: bold;
	font-size: 9pt;
}

p.Table_text {
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 0px;
	margin-right: 0pt;
	font-size: 9pt;
}
li.p-Table_text {
	font-size: 9pt;
}

table.Header {
	font-size: 8pt;
	font-weight: bold;
	x-border-spacing: 0px;
	background-color: #ebebeb;
	font-family: "Segoe UI";
}
p.topc_header {
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 9pt;
}
li.p-topc_header {
	font-size: 9pt;
}

p.popup {
	margin-top: 0pt;
	margin-left: 0px;
	margin-right: 0pt;
	font-size: 9pt;
	margin-bottom: 0pt;
}
li.p-popup {
	font-size: 9pt;
}
a:active {
	color: #3833aa;
	text-decoration: underline;
}
a:hover {
	color: #3833aa;
}
p.up_arrow {
	text-align: right;
	margin-left: 0px;
	margin-top: 8pt;
	margin-bottom: 0pt;
}
li.p-up_arrow {
	text-align: right;
}

p.list_indent {
	margin-left: 31pt;
	font-family: "Segoe UI";
	font-size: 9pt;
	color: #666666;
}
li.p-list_indent {
	font-family: "Segoe UI";
	font-size: 9pt;
	color: #666666;
}
span.rls-2-ArticleSection {
	color: #000080;
	font-size: 12pt;
}
span.rls-1-ArticleSection {
	font-size: 18pt;
}
p.test {
}
li.p-test {
}

p.related {
	margin-top: 20pt;
}
li.p-related {
}

p.Tip {
	margin-top: 4pt;
	margin-bottom: 0pt;
	color: #820000;
	background-color: #d3e0ef;
}
li.p-Tip {
	color: #820000;
}

p.Note_table {
}
li.p-Note_table {
}

p.Note_table2 {
	margin-left: 40px;
	background-color: #ececdd;
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-right: 20pt;
}
li.p-Note_table2 {
}

p.Notes_bullet {
}
li.p-Notes_bullet {
}
span.Dialog {
	color: #3833aa;
	font-weight: bold;
	font-size: 13pt;
	font-family: "Segoe UI";
	background-color: #ffffff;
}
p.code {
	color: #0000ff;
	font-family: Consolas;
	font-size: 9pt;
}
li.p-code {
	color: #0000ff;
	font-family: Consolas;
	font-size: 9pt;
}

li.p-Style1 {
	font-family: "Segoe UI Light";
	font-size: 18pt;
	color: #0000ff;
}
p.IntroSentence {
	font-size: 18pt;
	color: #424242;
	font-family: "Segoe UI";
}
li.p-IntroSentence {
	font-size: 18pt;
	color: #424242;
	font-family: "Segoe UI";
}

img.Thumbnail {
}
p.Style2 {
}
li.p-Style2 {
}

span.code_char {
	font-family: Consolas;
	font-size: 9pt;
	color: #0000ff;
}

li.p-ublist_num-bullet {
	position: relative;
}

li.p-ublist_num-bullet:before {
	counter-increment: lip-ublist_num-bullet1;
	content: counter(lip-ublist_num-bullet1, square)".";
	text-align: left;
	left: -24px;
	margin-right: 0px;
	width: 24px;
	position: absolute;
}

p.ublist_num-bullet {
	margin-left: 89px;
	position: relative;
}

p.ublist_num-bullet:before {
	counter-increment: publist_num-bullet1;
	content: counter(publist_num-bullet1, square)".";
	text-align: left;
	left: -24px;
	margin-right: 0px;
	width: 24px;
	position: absolute;
}

li.p-Note_bullet {
	position: relative;
}

li.p-Note_bullet:before {
	counter-increment: lip-note_bullet1;
	content: counter(lip-note_bullet1, disc);
	text-align: left;
	left: -22.08px;
	margin-right: 0px;
	width: 22.080000000000002px;
	position: absolute;
}

p.Note_bullet {
	margin-right: 48pt;
	margin-left: 0.67in;
	background-color: #ececdd;
	position: relative;
}

p.Note_bullet:before {
	counter-increment: pnote_bullet1;
	content: counter(pnote_bullet1, disc);
	text-align: left;
	left: -22.08px;
	margin-right: 0px;
	width: 22.080000000000002px;
	position: absolute;
}

li.p-Table_Bullet_list {
	position: relative;
}

li.p-Table_Bullet_list:before {
	counter-increment: lip-table_bullet_list1;
	content: counter(lip-table_bullet_list1, disc);
	text-align: left;
	left: -22.08px;
	margin-right: 0px;
	width: 22.080000000000002px;
	position: absolute;
}

p.Table_Bullet_list {
	margin-right: 0pt;
	margin-left: 24px;
	margin-bottom: 4pt;
	margin-top: 4pt;
	position: relative;
}

p.Table_Bullet_list:before {
	counter-increment: ptable_bullet_list1;
	content: counter(ptable_bullet_list1, disc);
	text-align: left;
	left: -22.08px;
	margin-right: 0px;
	width: 22.080000000000002px;
	position: absolute;
}

li.p-Bullet_list {
	font-size: 9pt;
	font-family: "Segoe UI";
	position: relative;
}

li.p-Bullet_list:before {
	counter-increment: lip-bullet_list1;
	content: counter(lip-bullet_list1, disc);
	text-align: left;
	left: -19.2px;
	margin-right: 0px;
	width: 19.200000000000003px;
	position: absolute;
}

p.Bullet_list {
	margin-bottom: 6pt;
	margin-top: 6pt;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-left: 0.4in;
	position: relative;
}

p.Bullet_list:before {
	counter-increment: pbullet_list1;
	content: counter(pbullet_list1, disc);
	text-align: left;
	left: -19.2px;
	margin-right: 0px;
	width: 19.200000000000003px;
	position: absolute;
}

li.p-sublist-letter {
	position: relative;
}

li.p-sublist-letter:before {
	counter-increment: lip-sublist-letter1;
	content: counter(lip-sublist-letter1, lower-alpha)".";
	text-align: left;
	left: -24px;
	margin-right: 0px;
	width: 24px;
	position: absolute;
}

p.sublist-letter {
	margin-left: 0.68in;
	position: relative;
}

p.sublist-letter:before {
	counter-increment: psublist-letter1;
	content: counter(psublist-letter1, lower-alpha)".";
	text-align: left;
	left: -24px;
	margin-right: 0px;
	width: 24px;
	position: absolute;
}

li.p-sublist-bullet {
	position: relative;
}

li.p-sublist-bullet:before {
	counter-increment: lip-sublist-bullet1;
	content: counter(lip-sublist-bullet1, square)".";
	text-align: left;
	left: -24px;
	margin-right: 0px;
	width: 24px;
	position: absolute;
}

p.sublist-bullet {
	margin-left: 85px;
	position: relative;
}

p.sublist-bullet:before {
	counter-increment: psublist-bullet1;
	content: counter(psublist-bullet1, square)".";
	text-align: left;
	left: -24px;
	margin-right: 0px;
	width: 24px;
	position: absolute;
}

li.p-Num_list {
	position: relative;
}

li.p-Num_list:before {
	counter-increment: lip-num_list1;
	content: counter(lip-num_list1, decimal)".";
	text-align: left;
	left: -22.08px;
	margin-right: 0px;
	width: 22.080000000000002px;
	position: absolute;
}

p.Num_list {
	margin-bottom: 6pt;
	margin-top: 6pt;
	margin-left: 0.43in;
	position: relative;
}

p.Num_list:before {
	counter-increment: pnum_list1;
	content: counter(pnum_list1, decimal)".";
	text-align: left;
	left: -22.08px;
	margin-right: 0px;
	width: 22.080000000000002px;
	position: absolute;
}

p.rl-p-Num_list {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-left: 0px;
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	position: relative;
}

p.rl-p-Num_list:before {
	counter-increment: prl-p-num_list1;
	content: counter(prl-p-num_list1, decimal)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.rl-p-bullet_list {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-left: 0px;
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	position: relative;
}

p.rl-p-bullet_list:before {
	counter-increment: prl-p-bullet_list1;
	content: counter(prl-p-bullet_list1, square)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.rl-p-sublist-letter {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-left: 0px;
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	position: relative;
}

p.rl-p-sublist-letter:before {
	counter-increment: prl-p-sublist-letter1;
	content: counter(prl-p-sublist-letter1, lower-alpha)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.rl-p-Bullet_list {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-left: 0px;
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	position: relative;
}

p.rl-p-Bullet_list:before {
	counter-increment: prl-p-bullet_list1;
	content: counter(prl-p-bullet_list1, disc);
	text-align: left;
	left: -40px;
	margin-right: 16px;
	width: 24px;
}

p.NumberBulletAlphaBullet {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-left: 0px;
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	position: relative;
}

p.NumberBulletAlphaBullet:before {
	counter-increment: pnumberbulletalphabullet1;
	content: counter(pnumberbulletalphabullet1, decimal)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.NumberBulletAlphaBullet[data-list-level="2"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 20px;
	position: relative;
}

p.NumberBulletAlphaBullet[data-list-level="2"]:before {
	counter-increment: item2;
	content: counter(item2, disc);
	text-align: left;
	left: -40px;
	margin-right: 16px;
	width: 24px;
}

p.NumberBulletAlphaBullet[data-list-level="3"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 40px;
	position: relative;
}

p.NumberBulletAlphaBullet[data-list-level="3"]:before {
	counter-increment: item3;
	content: counter(item3, lower-alpha)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.NumberBulletAlphaBullet[data-list-level="4"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 60px;
	position: relative;
}

p.NumberBulletAlphaBullet[data-list-level="4"]:before {
	counter-increment: item4;
	content: counter(item4, circle);
	text-align: left;
	left: -40px;
	margin-right: 16px;
	width: 24px;
}

p.NumberBulletAlphaBullet[data-list-level="5"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 80px;
	position: relative;
}

p.NumberBulletAlphaBullet[data-list-level="5"]:before {
	counter-increment: item5;
	content: counter(item5, decimal)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.NumberBulletAlphaBullet[data-list-level="6"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 100px;
	position: relative;
}

p.NumberBulletAlphaBullet[data-list-level="6"]:before {
	counter-increment: item6;
	content: counter(item6, circle);
	text-align: left;
	left: -40px;
	margin-right: 16px;
	width: 24px;
}

p.NumberBulletAlphaBullet[data-list-level="7"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 120px;
	position: relative;
}

p.NumberBulletAlphaBullet[data-list-level="7"]:before {
	counter-increment: item7;
	content: counter(item7, decimal)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.NumberBulletAlphaBullet[data-list-level="8"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 140px;
	position: relative;
}

p.NumberBulletAlphaBullet[data-list-level="8"]:before {
	counter-increment: item8;
	content: counter(item8, square);
	text-align: left;
	left: -40px;
	margin-right: 16px;
	width: 24px;
}

p.NumberBulletAlphaBullet[data-list-level="9"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 160px;
	position: relative;
}

p.NumberBulletAlphaBullet[data-list-level="9"]:before {
	counter-increment: item9;
	content: counter(item9, decimal)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.ArticleSection {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-left: 0px;
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	position: relative;
}

p.ArticleSection:before {
	counter-increment: particlesection1;
	content: "Article "counter(particlesection1, upper-roman)".";
	font-size: 18pt;
	text-align: left;
	left: -104px;
	margin-right: 8px;
	width: 96px;
}

p.ArticleSection[data-list-level="2"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-left: 0px;
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	position: relative;
}

p.ArticleSection[data-list-level="2"]:before {
	counter-increment: item2;
	content: "Section "counter(particlesection1, upper-roman)"."counter(item2, decimal);
	color: #000080;
	font-size: 12pt;
	text-align: left;
	left: -120px;
	margin-right: 24px;
	width: 96px;
}

p.ArticleSection[data-list-level="3"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 40px;
	position: relative;
}

p.ArticleSection[data-list-level="3"]:before {
	counter-increment: item3;
	content: counter(item3, lower-alpha)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.ArticleSection[data-list-level="4"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 60px;
	position: relative;
}

p.ArticleSection[data-list-level="4"]:before {
	counter-increment: item4;
	content: counter(item4, upper-roman)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

p.ArticleSection[data-list-level="5"] {
	color: #666666;
	font-size: 9pt;
	font-family: "Segoe UI";
	margin-right: 20pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	margin-left: 80px;
	position: relative;
}

p.ArticleSection[data-list-level="5"]:before {
	counter-increment: item5;
	content: counter(item5, lower-roman)".";
	text-align: left;
	left: -36px;
	margin-right: 12px;
	width: 24px;
}

ol.fp-NormalIndent_alpha {
	list-style: lower-alpha;
}

ol.fp-NormalIndent_alpha>li {
	color: #000000;
	margin-right: 0pt;
	margin-left: 16pt;
	font-family: "Segoe UI";
	font-size: 9pt;
}

ol.fp-NormalIndent2_alpha {
	list-style: lower-alpha;
}

ol.fp-NormalIndent2_alpha>li {
	color: #000000;
	margin-right: 0pt;
	margin-left: 32pt;
	font-family: "Segoe UI";
	font-size: 9pt;
}

:not([data-list-level])+[data-list-level="2"] {
	counter-reset: item2 0;
}

[data-list-level="2"]+[data-list-level="3"] {
	counter-reset: item3 0;
}

[data-list-level="3"]+[data-list-level="4"] {
	counter-reset: item4 0;
}

[data-list-level="4"]+[data-list-level="5"] {
	counter-reset: item5 0;
}

[data-list-level="5"]+[data-list-level="6"] {
	counter-reset: item6 0;
}

[data-list-level="6"]+[data-list-level="7"] {
	counter-reset: item7 0;
}

[data-list-level="7"]+[data-list-level="8"] {
	counter-reset: item8 0;
}

[data-list-level="8"]+[data-list-level="9"] {
	counter-reset: item9 0;
}

table.PaddedCells tr:nth-child(odd) td {font-family: Arial;font-size: 10pt;border-left-style: Solid;border-left-width: 1px;border-left-color: #000000;border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-top-style: Solid;border-top-width: 1px;border-top-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;
}

table.PaddedCells tr:nth-child(even) td {font-family: Arial;font-size: 10pt;border-left-style: Solid;border-left-width: 1px;border-left-color: #000000;border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-top-style: Solid;border-top-width: 1px;border-top-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;
}

table.PaddedCells td {padding-left: 5px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px;
}

table.SimpleGridBlack td {padding-left: 10px;padding-right: 10px;padding-top: 0px;padding-bottom: 0px;
}

table.SimpleGridBlack tr:nth-child(odd) td {border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;font-family: "Times New Roman";font-size: 12pt;
}

table.SimpleGridBlack tr:nth-child(even) td {border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;
}

table.Header td {padding-left: 0px;padding-right: 0px;padding-top: 4px;padding-bottom: 4px;
}
